<footer>
     <div class="foot">
        <h3 class="center">
           <img src="/piratetokei.png" alt="" width="230px">
        </h3>
    </div>
</footer>
<style>
    .foot {
    margin: 10px;
    margin-top: 10%;
}
.center {
    text-align: center;
}
</style>
