:root {
    --bcsecond: rgb(24, 25, 28);
    --backgrd: rgb(0, 0, 0);
}

html {
    background-color: var(--backgrd);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins;
    font-size: 20px;
    color: white;
}

.main {
    padding: 10px;
    margin-top: 1%;
    margin-bottom: 15px;
}

.showlist {
    padding: 10px;
}

.center {
    text-align: center;
}

.imgshow {
    border: 1;
    border-radius: 5px;
}

.crc {
    padding: 5px;
    border: 1;
    border-radius: 100px;
    width: 80px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

.pp {
    background-color: var(--bcsecond);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #68e8e6;
}

.members {
    display: flex;
    margin-top: 10px;
    border: 1;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bcsecond);
}

.toptext {}

.logo {
    background-color: var(--bcsecond);
    display: flex;
    justify-content: center;
    height: 60px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgcen {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.menuicon {
    display: none;
    margin: 10px;
    padding: 10px;
}

li,
a {
    padding-left: 15px;
    align-items: center;
    font-family: Poppins;
    font-size: 15px;
    color: white;
    background-color: var(--bcsecond);
    text-decoration: none;
}

.nav_links {
    list-style: none;
    display: inline-flex;
    margin-bottom: 22px;
    background-color: var(--bcsecond);
}

.nav_links li a:hover {
    color: #68e8e6;
}

.logo:hover {}

.foot {
    margin: 10px;
    margin-top: 10%;
}

.nav_links li a {
    background-color: var(--bcsecond);
    transition: all 0.3s ease 0s;
    text-align: center;
}

.nav_links li {
    background-color: var(--bcsecond);
    margin-top: 25px;
    text-align: center;
    display: inline-block;
    padding: 5px;
}

.nav_links_moble {
    background-color: var(--bcsecond);
    list-style: none;
    text-align: center;
    display: none;
    margin-bottom: 16px;
}

.nav_links_moble li a:hover {
    color: rgb(94, 232, 124);
}

.nav_links_moble li a {
    background-color: var(--bcsecond);
    transition: all 0.3s ease 0s;
}

.nav_links_moble li {
    background-color: var(--bcsecond);
    margin-top: 25px;
    display: block;
    text-align: center;
    padding: 5px;
}

@media only screen and (max-width : 600px) {
    .header {
        background-color: var(--bcsecond);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .head {
        background-color: var(--bcsecond);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        background-color: var(--bcsecond);
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .menuicon {
        background-color: var(--bcsecond);
        display: inline-flex;
        margin-top: 0px;
    }

    .nav_links {
        display: none;
        text-align: center;
        padding: 10px;
    }

}
